body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(242, 239, 239);
  /* margin: 0 auto; */
  height: 100vh;
}

html {
  font-size: 62.5%;
}

.body-container {
  margin: 6rem 10rem;
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: rgb(194, 194, 194);
}
